/* CSS declarations go here */
.hidden_div{
	display:none;
}
#login-buttons {
	padding-top: 15px;
	padding-left: 40px;
}
.rating{
	display: inline-block;
	padding: 0px 5px 0px 5px;
}
.site-item{
	background-color: lightblue;
	border-radius: 5px;
	margin: 10px 0px 10px 10px;
	padding: 10px 0px 10px 15px;
}
.comments-block {
	background-color: lightblue;
	border-radius: 5px;
	margin: 10px 0px 10px 10px;
	padding: 10px 0px 10px 15px;

}
.js-add-comment {
	width: 95%;
}
.alert_message {
	padding-top: 5px;
}
.comment-item {
	border-radius: 5px;
	background-color: white;
	padding: 5px 5px 5px 5px;
	margin-bottom: 10px;
}
.created-date {
	padding-top: 5px;
}
.comment-rating {
	margin: 0px 10px 0px 10px;
}
.comment-author{
	padding-left: 5px;
}
.comments-list {
	padding-top: 15px;
	padding-left: 45px;
	width: 95%;
}
.comment-time {
	font-size: 0.7em;
}
.comment-message {
	padding-top: 5px;
	margin-left: 10px;
	font-size: 1.2em;
}